<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Tipo de pago <%= payment_type %></h1>
    <h1>Referencia de pago <%= external_reference %></h1>
    <h1>Id de pago <%= collection_id %></h1>
</body>

</html>